html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em/1.5em;
}
.clr {
  clear: both;
}
.wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 40px 0;
}
.main {
  padding: 0 34px;
}
.main__title {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
}
.main__img {
  max-width: 700px;
  position: relative;
  height: auto;
}
.main__img img {
  max-width: 100%;
  height: auto;
}
.main__img--date {
  position: absolute;
  width: 160px;
  top: 20px;
  left: 20px;
  padding: 30px 0;
  text-align: center;
  font-size: 1.125em;
  line-height: 1em;
  background: rgba(255,255,255,0.6);
}
.main__img--date span {
  font-size: 2em;
}
.main__figurecaption {
  background: #fff;
  position: relative;
  padding: 20px 0;
}
.main__figurecaption:before {
  content: '';
  position: absolute;
  left: 49%;
  top: -23px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
  font-size: 0.8125em;
}
.main__figurecaption--title {
  margin: 0;
  padding: 0;
  color: #000;
}
.main__figurecaption--author {
  color: #acacac;
  margin: 0;
  padding: 0;
}
.list {
  padding: 0 34px;
}
.list:after {
  clear: both;
}
.list-item {
  max-width: 160px;
  width: 23%;
  height: auto;
  margin: 0 2.6666% 20px 0;
  float: left;
  max-height: 105px;
  list-style-type: none;
}
.list-item--advertising {
  height: auto;
  max-height: 230px;
  float: right;
  margin: 0 0 35px 0;
}
.list-item:nth-child(11n+11) {
  margin: 0 0 20px 0;
}
.list-item:nth-child(15n+15) {
  margin: 0 0 20px 0;
}
.list-item:nth-child(26n+26) {
  margin: 0 0 20px 0;
}
.list-item img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}
.list-item .list__img--date {
  padding: 12% 0;
  text-align: center;
  font-size: 1.125em;
  line-height: 1em;
}
.list-item .list__img--date span {
  font-size: 2em;
}
.navigation {
  padding: 0 34px;
}
.navigation ul {
  padding-left: 0;
}
.navigation__title {
  float: left;
  color: #848484;
  line-height: 35px;
  margin-right: 25px;
}
.navigation__item {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}
.navigation__item.active {
  background: #e6e6e6;
  font-weight: 600;
}
.navigation__item.next {
  width: auto;
  border-radius: 0;
}
.navigation__item.next:hover {
  background: none;
}
.navigation__item:hover {
  background: #e6e6e6;
}
.navigation__item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .main {
    padding: 0 20px;
  }
  .main__img--date {
    position: absolute;
    width: 80px;
    top: 20px;
    left: 20px;
    text-align: center;
    font-size: 0.875em;
    line-height: 1em;
    background: rgba(255,255,255,0.6);
  }
  .main__img--date span {
    font-size: 1.125em;
  }
  .main__figurecaption {
    display: none;
  }
  .list {
    padding: 0 20px;
  }
  .list-item {
    max-width: 80px;
    width: 18%;
    min-height: 50px;
    height: auto;
    margin: 0 2% 10px 0;
  }
  .list-item .list__img--date {
    padding: 12% 0;
    font-size: 0.875em;
  }
  .list-item .list__img--date span {
    font-size: 1.125em;
  }
  .list-item:nth-child(11n+11) {
    margin: 0 2% 10px 0;
  }
  .list-item:nth-child(15n+15) {
    margin: 0 2% 10px 0;
  }
  .list-item:nth-child(26n+26) {
    margin: 0 2% 10px 0;
  }
  .list-item:nth-child(19n) {
    margin: 0 0 10px 0;
  }
  .list-item:nth-child(24n) {
    margin: 0 0 10px 0;
  }
  .list-item--advertising {
    max-width: 37%;
    width: 37%;
    height: 250px;
    margin-right: 0;
  }
  .list-item--advertising.second {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .main {
    padding: 0 5px;
  }
  .main__title {
    font-size: 1.625em;
  }
  .main__img {
    width: 100%;
  }
  .main__img--date {
    position: absolute;
    width: 80px;
    top: 5px;
    left: 5px;
    padding: 11px 0;
    text-align: center;
    font-size: 1.125em;
    line-height: 1em;
    background: rgba(255,255,255,0.6);
  }
  .list {
    padding: 0 5px;
  }
  .list-item {
    max-width: 73px;
    width: 23%;
    height: 48px;
    margin: 0 2% 5px 0;
  }
  .list-item:nth-child(7n) {
    margin: 0 2% 5px 0;
  }
  .list-item:nth-child(11n+11) {
    margin: 0 2% 5px 0;
  }
  .list-item:nth-child(15n+15) {
    margin: 0 2% 5px 0;
  }
  .list-item:nth-child(26n+26) {
    margin: 0 2% 5px 0;
  }
  .list-item:nth-child(19n) {
    margin: 0 2% 5px 0;
  }
  .list-item:nth-child(24n) {
    margin: 0 2% 5px 0;
  }
  .list-item:nth-child(4n+5) {
    margin: 0 0 5px 0;
  }
  .list-item--advertising {
    display: none;
  }
  .navigation {
    padding: 0 5px;
  }
  .navigation__title {
    display: none;
  }
}
